<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moudao.mapper.ChanceMapper" >
  <resultMap id="BaseResultMap" type="com.moudao.pojo.Chance" >
    <id column="chance_id" property="chanceId" jdbcType="INTEGER" />
    <result column="chance_num" property="chanceNum" jdbcType="INTEGER" />
    <result column="chance_category" property="chanceCategory" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    chance_id, chance_num, chance_category, user_id, ext1, ext2, created_time, updated_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moudao.pojo.ChanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from chance
    where chance_id = #{chanceId,jdbcType=INTEGER}
  </select>

  <select id="getThrowChanceByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from chance
    where user_id = #{userId,jdbcType=INTEGER} and chance_category = 1 and created_time >= DATE(NOW())
  </select>
  <select id="getRefloatByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from chance
    where user_id = #{userId,jdbcType=INTEGER} and chance_category = 0 and created_time >= DATE(NOW())
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chance
    where chance_id = #{chanceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.moudao.pojo.ChanceExample" >
    delete from chance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 批量删除 -->
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from chance
    where chance_id IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item.chance_id,jdbcType=INTEGER}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.moudao.pojo.Chance" >
    insert into chance (chance_id, chance_num, chance_category, 
      user_id, ext1, ext2, 
      created_time, updated_time)
    values (#{chanceId,jdbcType=INTEGER}, #{chanceNum,jdbcType=INTEGER}, #{chanceCategory,jdbcType=TINYINT}, 
      #{userId,jdbcType=INTEGER}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.moudao.pojo.Chance" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="chanceId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chanceId != null" >
        chance_id,
      </if>
      <if test="chanceNum != null" >
        chance_num,
      </if>
      <if test="chanceCategory != null" >
        chance_category,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chanceId != null" >
        #{chanceId,jdbcType=INTEGER},
      </if>
      <if test="chanceNum != null" >
        #{chanceNum,jdbcType=INTEGER},
      </if>
      <if test="chanceCategory != null" >
        #{chanceCategory,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moudao.pojo.ChanceExample" resultType="java.lang.Integer" >
    select count(*) from chance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update chance
    <set >
      <if test="record.chanceId != null" >
        chance_id = #{record.chanceId,jdbcType=INTEGER},
      </if>
      <if test="record.chanceNum != null" >
        chance_num = #{record.chanceNum,jdbcType=INTEGER},
      </if>
      <if test="record.chanceCategory != null" >
        chance_category = #{record.chanceCategory,jdbcType=TINYINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.ext1 != null" >
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null" >
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update chance
    set chance_id = #{record.chanceId,jdbcType=INTEGER},
      chance_num = #{record.chanceNum,jdbcType=INTEGER},
      chance_category = #{record.chanceCategory,jdbcType=TINYINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moudao.pojo.Chance" >
    update chance
    <set >
      <if test="chanceNum != null" >
        chance_num = #{chanceNum,jdbcType=INTEGER},
      </if>
      <if test="chanceCategory != null" >
        chance_category = #{chanceCategory,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where chance_id = #{chanceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moudao.pojo.Chance" >
    update chance
    set chance_num = #{chanceNum,jdbcType=INTEGER},
      chance_category = #{chanceCategory,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where chance_id = #{chanceId,jdbcType=INTEGER}
  </update>

  <delete id="clearAll">
    TRUNCATE TABLE chance
  </delete>
</mapper>